body {
    font-family: 'Source Sans Pro', sans-serif;
    -ms-scrollbar-base-color: #858585;
    scrollbar-base-color: #858585;
    -ms-scrollbar-arrow-color: #d82417;
    scrollbar-arrow-color: #d82417;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: #a6a6a5;
}

::-webkit-scrollbar-thumb {
    background-color: #d20f05;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: #a80c04;
    }