/*-------------JQuery File Uploader------------------*/
.fileinput-button input {
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        height:100%;
        margin: 0;
        opacity: 0;
        -ms-filter: 'alpha(opacity=0)';
        cursor: pointer;
}
 [role="button"],
 input[type="file"]{
     cursor:pointer;
 }    
 ::-webkit-file-upload-button {
    cursor:pointer;
}
.fileinput-button {
    position: relative;
    overflow: hidden;
    display: block;
    font-family: Dax_medium;
    font-size: 13px;
    background-color: rgb(195, 220, 92);
    cursor: pointer;
    border: 0px;
    color: #00597c;
    padding: 5px 20px 5px 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    min-width: 100px;
    text-align: center;
}